nav {
    height: 5.1875rem;
	.logo {
		@include bp-xs-mobile {
			width: 12.5rem;
		}
	}

    @include bp-sm-mobile {
        height: 15vh;
    }
    .navbar-nav {
        background-color: $nav-background;
        z-index: 2;
    }
}

.bg-light {
	background-color: $nav-background !important;
}

