nav {
	height: 4rem;
	width: 100%;
	@include bp-tablet-up {
		height: 6rem;
	}

	.nav-logo {
		width: 50%;
		height: auto;
		left: 25%;
		top: 0.9375rem;

		@include bp-sm-mobile {
			top: 1.375rem;
		}

		@include bp-tablet-up {
			width: 30%;
			height: auto;
			left: 2.4375rem;
			top: 2.125rem;
		}

		@include bp-desktop-up {
			top: 1.875rem;
		}

		@include bp-xl-up {
			top: 1.5rem;
		}

		@include bp-xxl-up {
			top: 1.25rem;
		}

		@include bp-xxxl-up {
			left: 3.125rem;
			top: 0.75rem;
		}
	}

	.offcanvas {
		background-color: $nav-background !important;

		.offcanvas-header {
			.sidebar-logo {
				width: 4.7188rem;
				left: 35%;
				top: 10%;
			}
		}

		.offcanvas-body {
			.navbar-nav {
				width: 50%;
				height: 7.6875rem;
				top: 12.5rem;
				left: 2rem;

				@include bp-small-screen {
					width: 43.0625rem;
					height: 1.8125rem;
					top: 2.25rem;
					left: 12.8125rem;
				}

				@include bp-tablet-up {
					width: 43.0625rem;
					height: 1.8125rem;
					top: 2.25rem;
					left: 21.875rem;
				}

				@include bp-desktop {
					width: 37.5rem;
					height: 3.3125rem;
					left: 37.5rem;
					top: 1.375rem;
				}

				@include bp-xl-up {
					width: 69.125rem;
					height: 3.3125rem;
					left: 46.875rem;
					top: 1.375rem;
				}

				@include bp-xxl-up {
					width: 69.125rem;
					height: 3.3125rem;
					left: 46.875rem;
					top: 1.375rem;
				}

				@include bp-xxxl-up {
					width: 69.125rem;
					height: 3.3125rem;
					left: 75rem;
					top: 1.375rem;
				}
			}

			.nav-item {
				@include bp-tablet-up {
					font-size: 0.9375rem;
				}

				@include bp-xxl-up {
					font-size: 1.5rem;
				}
				.nav-link {
					color: $clr-dark;
					font-weight: $fw-extra-bold;
				}
			}
		}
	}
}

.bg-light {
	background-color: $nav-background !important;
}
