body {
	font-family: $text-font;
	font-weight: $fw-extra-bold;
	font-size: 1.5rem;
	line-height: 1.9919rem;
	color: $body-font-color;
}

h1,
h2,
h3,
h4 {
	color: $heading-color;
	font-family: $heading-font;
	font-weight: $fw-bold;
}

.heading-1 {
	font-size: 3rem;
	font-weight: $fw-extra-bold;
	line-height: 3rem;

	@include bp-desktop-up {
		font-size: 4rem;
		line-height: 4.2719rem;
	}
}

.paragraph {
	color: $body-font-color;
	font-size: 1.5rem;
	line-height: 1.875rem;
}